body, html {
    height: 100%;
    margin: 0;
  }
  
  #backgroundImage {
    
    background-image: url("pictures/Pikachu.jpg");
  
    
    height: 200%; 
  
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .tokimonSelections {
    margin-left: 40%;
  }

  .listOfTokimons {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .listOfTokimons img {
    width: 75%;
    height: auto;
  }
  
  .listOfTokimons .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    /* transform: translate(-50%, -50%); */
  }

  .addTokimon {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .addTokimon img {
    width: 75%;
    height: auto;
  }
  
  .addTokimon .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    /* transform: translate(-50%, -50%); */
  }

  .removeTokimon {
    position: relative;
    width: 100%;
    max-width: 400px;
  }
  
  .removeTokimon img {
    width: 75%;
    height: auto;
  }
  
  .removeTokimon .centered {
    position: absolute;
    top: 50%;
    left: 20%;
    /* transform: translate(-50%, -50%); */
  }

table {
    background-color: #e9eef1;
    border: solid 1pt #c4c5c5;
    border-collapse: collapse;
    margin: 20px 20px 20px 20px;
}

th {
    background-color: #ddddde;
    width: 200px;
    border: solid 1pt #c4c5c5;
    padding: 1pt;
    text-align: left;
    padding: 0px 0px 0px 5px;
    font-size: 15px;
}

td {
    width: 200px;
    border: solid 1pt #c4c5c5;
    padding: 10pt;
    padding: 15px 25px 15px 5px;
    font-size: 15px;
    text-align: left;
}

/*
.greyPart {
  width: 70%;
  margin: 0 0 0 20px;
  padding: 0 0 0 20px;
  height: 650px;
  background-color: #e9eef1;
}*/

tr { line-height: 8px; }

.ToBeHidden {
  display: none;
}