<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Form</title>
    <!--
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css" />
    <!-- <script type="text/javascript" src="/formjs.js"></script> -->

</head>

<body>
    <div id="addPageBackgroundImage">
        <h2>Great! Add the tokimon you found to the tokimon database</h1>
       <form action="/add" method="POST">
            Tokimon Name:
            <input type="text" name="tokimonName"><br>
            <p>Weight</p><br>
            <input type="number" name="tokimonWeight"><br>
            <p>Height</p><br>
            <input type="number" name="tokimonHeight"><br>
            <p>Fly</p><br>
            <input type="number" name="tokimonFly"><br>
            <p>Fight</p><br>
            <input type="number" name="tokimonFight"><br>
            <p>Fire</p><br>
            <input type="number" name="tokimonFire"><br>
            <p>Water</p><br>
            <input type="number" name="tokimonWater"><br>
            <p>Electric</p><br>
            <input type="number" name="tokimonElectric"><br>
            <p>Frozen</p><br>
            <input type="number" name="tokimonFrozen"><br>
            <p>Name of Trainer</p><br>
            <input type="text" name="tokimonFrozen"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>