<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Form</title>
    <!--
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css" />
    <!-- <script type="text/javascript" src="/formjs.js"></script> -->

</head>

<body>
    <div id="backgroundImage">
       <form action="/add" method="POST">
        Value:
        <input type="text" name="word"/>
        <input type="submit"/>
        </form>
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>