<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Add Tokimon</title>
    <!--
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
    -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css" />
    <!-- <script type="text/javascript" src="/formjs.js"></script> -->
    
    <script src="js/script.js"></script>
    <script src="js/totalCalc.js" defer></script>
</head>

<body>
    <div id="addPageBackgroundImage">
        <h2>Great! Add the tokimon you found to the tokimon database</h2>
        <p>Enter the name of the Tokimon and the other details. The fields marked with an astrix takes only integers from 0 to 100. Be sure to fill all the fields correctly. The form will not be accepted otherwise!</p>
       <form class="forms" action="/add" onsubmit="return validateAddNew()" method="POST">
            <div class="addContainer">
                <table>
                    <tr>
                        <td>
                            <div >Tokimon Name:</div>
                        </td>
                        <td>
                            <div ><input type="text" name="tokimonName" class="value fieldItem"></div>
                        </td>
                    </tr>
                </table>
                <p class="textItem">Weight*:
                <input type="number" name="tokimonWeight" class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Height*:
                <input type="number" name="tokimonHeight" class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Fly*:
                <input type="number" name="tokimonFly" class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Fight*:
                <input type="number" name="tokimonFight" class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Fire*:
                <input type="number" name="tokimonFire" class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Water*:
                <input type="number" name="tokimonWater" class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Electric*:
                <input type="number" name="tokimonElectric"class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Frozen*:
                <input type="number" name="tokimonFrozen" class="value fieldItem" onkeyup="sumfunc()"></p><br>
                <p class="textItem">Name of Trainer:
                <input type="text" name="tokimonTrainer" class="value fieldItem"></p><br>
                <input type="number" name="tokimonTotal" class="ToBeHidden tokTotal" value=0></p>
                <p class="textItem">Description:<br>
                <textarea rows="4" cols="50" name="tokimonDescription" class="textItem">
                </textarea></p>
                <input class="submitButton" type="submit" value="Submit">
            </div>
        </form>
    </div>
</body>
</html>