<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Form</title>
    <!--
        <meta name="description" content="The HTML5 Herald">
        <meta name="author" content="SitePoint">
        -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/tokimon.css" />
    <!-- <script type="text/javascript" src="/formjs.js"></script> -->

</head>

<body>
    <div id="backgroundImage">
        <h1>World of Tokimons</h1>
        <h2>Welcome to the magical world of Tokimons</h2>
        <p>A Tokimon is arare creature found in the remote areas of Korea.  For the most part, they resemble rabbits and the only form of communication they have with us is the ability to say their own name.  Tokimonscome in all shapes and sizes,have special abilities, andtend to fight with each other on occasion.</p>
        <div class="tokimonSelections">
            <div class="listOfTokimons">
                <a href="https://www.w3schools.com"> <img  alt="tokimons on database" src="/pictures/button1.jpg">
                <div class="centered">Find Tokimons</div>
            </div>
            <p>If you found a Tokimon, add to the list.</p>
            <div class="addTokimon">
                    <a href="https://www.w3schools.com"> <img  alt="add tokimon to database" src="/pictures/button1.jpg">
                    <div class="centered">Add Tokimon</div>
            </div>
            <p>If the Tokimon is lost, update the list.</p>
            <div class="removeTokimon">
                    <a href="https://www.w3schools.com"> <img  alt="remove tokimon from database" src="/pictures/button1.jpg">
                    <div class="centered">Add Tokimon</div>
            </div>
        </div>
    </div>
  <script src="js/scripts.js"></script>
</body>
</html>