<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>USERS</title>
  </head>
  <body>

    <ul>
      <% rows.forEach((r) => { %> 
        <li><%= r.username %></li>
      <% }); %>

    </ul>
  </body>
</html>
